<header class="header" role="banner">
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="float-left" rel="author" href="{{ "/" | relative_url }}"><i class="fal fa-rocket"></i> Platform | {{ site.title | escape }}</a>

    <a href="#" class="float-right"><i class="fal fa-external-link"></i> Go to platform</a>

    <div class="clearfix mb-3"></div>

    <h1>{{ site.description | escape }}</h1>
    <input type="search" class="form-control form-control-lg mt-3" placeholder="Search our documentation..." aria-label="Search">
  </div>
</header>
