<header class="header" role="banner">
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="float-md-left mb-1">
      <a rel="author" href="{{ "/" | relative_url }}"><i class="fal fa-rocket"></i> {{ site.company }} | {{ site.title | escape }}</a>
    </div>
    <div class="float-md-right pb-1">
      <a href="{{ site.companyurl }}"><i class="fal fa-external-link"></i> Go to {{ site.company }}</a>
    </div>
    <div class="clearfix mb-3"></div>

    {%- if page.layout == "home" -%}
    <h1>{{ site.description | escape }}</h1>
    {%- endif -%}

    <form action="{{ "/search" | relative_url }}">
      <div class="input-group input-group-lg mt-3 fadeIn">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fal fa-search"></i></span>
        </div>
        <input id="search" name="q" type="search" class="form-control" placeholder="Search documentation..." aria-label="Search" autofocus>
        <div class="input-group-append">
          <button class="btn btn-light" type="button" onclick="document.getElementById('search').value = ''"><i class="fal fa-times"></i></button>
        </div>
      </div>
      <button class="sr-only">Search</button>
    </form>
  </div>
</header>
