<header class="header" role="banner">
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="float-left" rel="author" href="{{ "/" | relative_url }}"><i class="fal fa-rocket"></i> {{ site.company }} | {{ site.title | escape }}</a>

    <a href="{{ site.companyurl }}" class="float-right"><i class="fal fa-external-link"></i> Go to {{ site.company }}</a>

    <div class="clearfix mb-3"></div>

    {%- if page.layout == "home" -%}
    <h1>{{ site.description | escape }}</h1>
    {%- endif -%}

    <input type="search" class="form-control form-control-lg mt-3 fadeIn" placeholder="Search documentation..." aria-label="Search" autofocus>
  </div>
</header>
