---
layout: default
---

<div class="container">
  <h3 class="main-heading">{{ page.title | default: "Browse documentation by product" }}</h3>

  {{ content }}

  <div class="row fadeInUp">
    {%- for collection in site.collections -%}
      {%- if collection.docs.size > 1 %}
      <div class="col-12 col-md-6">
        <a href="{{ collection.label | relative_url }}" class="card mb-3">
          <div class="row no-gutters">
            <div class="col-xs-auto">
              <div class="illustration"><i class="fal fa-{{ collection.illustration | escape }}"></i></div>
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">{{ collection.title | escape }}</h5>
                <p class="card-text">{{ collection.description | escape }}</p>
                {%- assign articleCount = collection.docs.size | minus: 1 -%}
                <div class="text-muted">{{ articleCount }} {%- if articleCount == 1 %} article {%- else %} articles {%- endif %}</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {%- endif %}
    {%- endfor -%}
  </div>
</div>
